* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    padding: 50px;
}

.my-active-class {
    background-color: red;
    transform: scale(1);
}

.active-t {
    background-color: green;
    transform: scale(0.75);
}

.pre-active {
    transform: scale(0.75);
}

.post-active {
    transform: scale(0.75);
}

.s1 .pre-active, .s1 .post-active {
    transform: scale(1);
}
